<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="what.the.kakaodessert">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="what.the.kakaodessert.base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="카카오디저트"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="what.the.kakaodessert.base.BaseActivity" />
        <activity android:name="what.the.kakaodessert.detail.DetailActivity" />
        <activity android:name="what.the.kakaodessert.main.MainActivity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>